<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
    </style>
    <title>Update User</title>
  </head>
  <body>
    <form method="post">
      <label>Enter the CustomerID of the record to be updated : </label>
      <input type="text" name="cust_id" /><br />
      <br />
      <h2>Enter updated Details of the customer with CustomerID</h2>
      <br />
      <label>Name : </label>
      <input type="text" name="name" /><br /><br />
      <label>Gender : </label>
      <input type="text" name="gender" /><br /><br />
      <label>Age : </label>
      <input type="number" name="age" /><br /><br />
      <label>Mail : </label>
      <input type="email" name="mail" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
